<!DOCTYPE html>
<html lang="{{ .Lang }}">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}">
    <meta name="keywords" content="{{ (delimit .Keywords ",") | default .Site.Params.keywords }}">
    <!--sse-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@wdesportes" />
    <meta name="twitter:title" content="William Desportes" />
    <meta name="twitter:description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}" />
    <meta name="twitter:image" content="{{ .Site.BaseURL }}assets/logo/williamdes_x1024.png" />
    <meta name="p:domain_verify" content="2d287a768e344c30a89d1900add7724f" />
    <meta property="og:title" content="William Desportes" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Site.BaseURL }}" />
    <meta property="og:image" content="{{ .Site.BaseURL }}assets/logo/williamdes_x1024.png" />
    <meta property="og:description" content="{{ .Description | default (.Summary | default .Site.Params.description ) }}" />

    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Person",
            "birthDate": "2017-12-07T",
            "email": "williamdes@wdes.fr",
            "telephone":"+33663401864",
            "image": "{{ .Site.BaseURL }}assets/logo/williamdes_x1024.png",
            "url": "{{ .Site.BaseURL }}",
            "jobTitle": "Developer",
            "name": "William Desportes",
            "affiliation" : {
                        "@context": "http://schema.org",
                        "@type": "Organization",
                        "name": "Wdes",
                        "url": "https://wdes.fr"
            },
            "worksFor" : {
                        "@context": "http://schema.org",
                        "@type": "Organization",
                        "name": "phpMyAdmin",
                        "url": "https://www.phpmyadmin.net"
            },
            "sameAs": [
                "https://stackoverflow.com/users/5155484/william-desportes",
                "https://gitlab.com/williamdes",
                "https://github.com/williamdes",
                "https://twitter.com/wdesportes",
                "https://www.linkedin.com/in/williamdes",
                "https://blog.williamdes.eu"
            ]
        }
    </script>
    <!--/sse-->
    <!-- Favicons -->
    <link href="{{ .Site.BaseURL }}assets/logo/williamdes_x64.png" rel="icon">
    <link href="{{ .Site.BaseURL }}assets/logo/williamdes_x128.png" rel="apple-touch-icon">


    <!-- Vendor CSS Files -->
    {{ $options := (dict "targetPath" "assets/vendor/aos/aos.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $aosStyle := resources.Get "vendor/aos/sass/aos.scss"
        | resources.ExecuteAsTemplate "vendor/aos/sass/aos.scss" .
        | resources.ToCSS $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $aosStyle.Permalink }}" rel="stylesheet" integrity="{{ $aosStyle.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $aosStyle.Permalink }}" as="style" integrity="{{ $aosStyle.Data.Integrity }}" crossorigin="anonymous">
    {{ $options := (dict "targetPath" "assets/vendor/bootstrap/css/bootstrap.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $bootstrapStyle := resources.Get "vendor/bootstrap/scss/bootstrap.scss"
        | resources.ExecuteAsTemplate "vendor/bootstrap/scss/bootstrap.scss" .
        | resources.ToCSS $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $bootstrapStyle.Permalink }}" rel="stylesheet" integrity="{{ $bootstrapStyle.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $bootstrapStyle.Permalink }}" as="style" integrity="{{ $bootstrapStyle.Data.Integrity }}" crossorigin="anonymous">

    <!-- Template Main CSS File -->
    {{ $options := (dict "targetPath" "assets/css/style.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $mainStyle := resources.Get "css/style.scss"
        | resources.ExecuteAsTemplate "css/style.scss" .
        | resources.ToCSS $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $mainStyle.Permalink }}" rel="stylesheet" integrity="{{ $mainStyle.Data.Integrity }}" crossorigin="anonymous">
    <link rel="preload" href="{{ $mainStyle.Permalink }}" as="style" integrity="{{ $mainStyle.Data.Integrity }}" crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/MaterialDesignIcons/css/materialdesignicons.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $mdiStyle := resources.Get "vendor/MaterialDesignIcons/scss/materialdesignicons.scss"
        | resources.ExecuteAsTemplate "vendor/MaterialDesignIcons/scss/materialdesignicons.scss" .
        | resources.ToCSS $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $mdiStyle.Permalink }}" rel="stylesheet" integrity="{{ $mdiStyle.Data.Integrity }}" crossorigin="anonymous">

    {{ $options := (dict "targetPath" "assets/vendor/font-mfizz/css/font-mfizz.min.css" "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $fontMizzStyle := resources.Get "vendor/font-mfizz/font-mfizz.scss"
        | resources.ExecuteAsTemplate "vendor/font-mfizz/font-mfizz.scss" .
        | resources.ToCSS $options
        | minify
        | fingerprint "sha512" }}
    <link href="{{ $fontMizzStyle.Permalink }}" rel="stylesheet" integrity="{{ $fontMizzStyle.Data.Integrity }}" crossorigin="anonymous">

    <!-- =======================================================
    * Template Name: MyResume - v4.0.1
    * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="mdi mdi-list mobile-nav-toggle"></i></button> -->
    <i class="mdi mdi-list mobile-nav-toggle d-xl-none"></i>
    <!-- ======= Header ======= -->
    <header id="header" class="d-flex flex-column justify-content-center">

        <nav id="navbar" class="navbar nav-menu">
            <ul>
                <li>
                    <a href="#hero" class="nav-link scrollto active">
                        <i class="mdi mdi-home" title="{{ i18n "menu.labels.home" }}"></i>
                        <span>{{ i18n "menu.labels.home" }}</span>
                    </a>
                </li>
                <li>
                    <a href="#about" class="nav-link scrollto" title="{{ i18n "menu.labels.about" }}">
                        <i class="mdi mdi-account"></i>
                        <span>{{ i18n "menu.labels.about" }}</span>
                    </a>
                </li>
                <li>
                    <a href="#languages-and-tools" class="nav-link scrollto"
                        title="{{ i18n "menu.labels.languages_and_tools" }}">
                        <i class="mdi mdi-code-tags"></i>
                        <span>{{ i18n "menu.labels.languages_and_tools" }}</span>
                    </a>
                </li>
                <li>
                    <a href="#open-source-projects" class="nav-link scrollto"
                        title="{{ i18n "menu.labels.open_source_projects" }}">
                        <i class="mdi mdi-projector-screen"></i>
                        <span>{{ i18n "menu.labels.open_source_projects" }}</span>
                    </a>
                </li>
                <li>
                    <a href="#facts" class="nav-link scrollto" title="{{ i18n "menu.labels.facts" }}">
                        <i class="mdi mdi-head-lightbulb-outline"></i>
                        <span>{{ i18n "menu.labels.facts" }}</span>
                    </a></li>
                <li>
                <li>
                    <a href="#resume" class="nav-link scrollto" title="{{ i18n "menu.labels.resume" }}">
                        <i class="mdi mdi-notebook-outline"></i>
                        <span>{{ i18n "menu.labels.resume" }}</span>
                    </a>
                </li>
            </ul>
        </nav><!-- .nav-menu -->

    </header><!-- End Header -->

    <section id="hero" class="d-flex flex-column justify-content-center">
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
            <h1>William Desportes</h1>
            <p>{{ i18n "i_m_a.i_m_a" }} <span class="typed"
                    data-typed-items="{{ i18n "i_m_a.Developer_web" }}, {{ i18n "i_m_a.Freelancer" }}, {{ i18n "i_m_a.pma_team_member" }}, {{ i18n "i_m_a.dev_opti" }}, {{ i18n "i_m_a.solutions_creator" }}"></span>
            </p>
            <div class="social-links">
                <!--sse-->
                <a href="{{ .Site.Params.links.github }}" target="_blank" rel="noopener" title="GitHub"><i
                    class="mdi mdi-github"></i></a>
                <a href="{{ .Site.Params.links.gitlab }}" target="_blank" rel="noopener" title="GitLab"><i
                        class="mdi mdi-gitlab"></i></a>
                <a href="{{ .Site.Params.links.twitter }}" target="_blank" rel="noopener" title="Twitter"><i
                        class="mdi mdi-twitter"></i></a>
                <a href="{{ .Site.Params.links.linkedin }}" target="_blank" rel="noopener" title="LinkedIn"><i
                        class="mdi mdi-linkedin"></i></a>
                <a href="{{ .Site.Params.links.stackOverflow }}" target="_blank" rel="noopener"
                    title="Stack Overflow"><i class="mdi mdi-stack-overflow"></i></a>
                <a href="{{ .Site.Params.links.mailto }}" target="_blank" rel="noopener" title="{{ i18n "social_links.mail" }}"><i
                        class="mdi mdi-email"></i></a>
                <a href="{{ .Site.Params.links.keybase }}" target="_blank" rel="noopener" title="Keybase"><i
                        class="mdi mdi-key-chain-variant"></i></a>
                <a href="{{ .Site.Params.links.blog }}" target="_blank" rel="noopener" title="{{ i18n "social_links.blog" }}"><i
                        class="mdi mdi-newspaper"></i></a>
                <a href="{{ .Site.BaseURL }}public-key.asc" target="_blank" rel="noopener" title="{{ i18n "social_links.gpg" }}"><i
                        class="mdi mdi-key-link"></i></a>
                <!--/sse-->
            </div>
        </div>
    </section>

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ i18n "about.header" }}</h2>
                    <p>{{ i18n "about.contents" | safeHTML }}</p>
                </div>

                <div class="row">
                </div>

            </div>
        </section><!-- End About Section -->

        <section id="languages-and-tools" class="box-container">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ i18n "languages_and_tools.title" }}</h2>
                    <p>{{ i18n "languages_and_tools.intro" }}</p>
                </div>

                <div class="row">

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-php"></i>
                            </div>
                            <h4>PHP</h4>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-javascript-alt"></i>
                            </div>
                            <h4>Javascript</h4>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-html5"></i>
                            </div>
                            <h4>HTML 5</h4>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-laravel"></i>
                            </div>
                            <h4>Framework PHP</h4>
                            <p><a href="https://laravel.com" target="_blank" rel="noopener nofollow"><b>Laravel</b></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-nodejs"></i>
                            </div>
                            <h4>Node JS</h4>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-database"></i>
                            </div>
                            <h4>MySQL/MariaDB</h4>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <section id="open-source-projects" class="box-container">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ i18n "opensource_projects.title" }}</h2>
                    <p>{{ i18n "opensource_projects.intro" }}</p>
                </div>

                <h2><i class="mdi mdi-chevron-right"></i>&nbsp;{{ i18n "opensource_projects.section.projects" }}</h2>

                <div class="row">

                    <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-php"></i>
                            </div>
                            <h4><a href="https://github.com/wdes/php-I18n-L10n#readme">php-i18n-l10n</a></h4>
                            <p>{{ i18n "open-source-projects.libs.php-i18n-l10n" }}</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-php"></i>
                            </div>
                            <h4><a href="https://github.com/williamdes/mariadb-mysql-kbs#readme">mariadb-mysql-kbs</a></h4>
                            <p>{{ i18n "open-source-projects.libs.mariadb-mysql-kbs" | safeHTML }}</p>
                        </div>
                    </div>

                </div>

                <h2><i class="mdi mdi-chevron-right"></i>&nbsp;{{ i18n "opensource_projects.section.lts" }}</h2>

                <div class="row">

                    <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-php"></i>
                            </div>
                            <h4><a href="https://github.com/code-lts/Doctum#readme">Doctum</a></h4>
                            <p>{{ i18n "open-source-projects.libs.doctum" | safeHTML }}</p>
                        </div>
                    </div>

                    <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-php"></i>
                            </div>
                            <h4><a href="https://github.com/code-lts/laravel-fcm#readme">laravel-fcm</a></h4>
                            <p>{{ i18n "open-source-projects.libs.laravel-fcm" | safeHTML }}</p>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- ======= Facts Section ======= -->
        <section id="facts" class="box-container">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ i18n "facts.header" }}</h2>
                    <p>{{ i18n "facts.header-description" }}</p>
                </div>

                <div class="row">
                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="100">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-at"></i>
                            </div>
                            <h4>{{ i18n "facts.email" }}</h4>
                            <p>{{ i18n "facts.email-description" }}</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="200">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-minecraft"></i>
                            </div>
                            <h4>{{ i18n "facts.minecraft" }}</h4>
                            <p>{{ i18n "facts.minecraft-description" }}</p>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="300">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-web"></i>
                            </div>
                            <h4>{{ i18n "facts.first-domain-name" }}</h4>
                            <p>{{ i18n "facts.first-domain-name-description" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="400">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-domain"></i>
                            </div>
                            <h4>{{ i18n "facts.first-company-name" }}</h4>
                            <p>{{ i18n "facts.first-company-name-description" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="500">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-briefcase"></i>
                            </div>
                            <h4>{{ i18n "facts.first-job" }}</h4>
                            <p>{{ i18n "facts.first-job-description" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="600">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-web"></i>
                            </div>
                            <h4>{{ i18n "facts.second-domain-name" }}</h4>
                            <p>{{ i18n "facts.second-domain-name-description" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="700">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="icon-debian"></i>
                            </div>
                            <h4>{{ i18n "facts.debian-dm" }}</h4>
                            <p>{{ i18n "facts.debian-dm-description" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in"
                        data-aos-delay="800">
                        <div class="icon-box w-100">
                            <div class="icon">
                                <i class="mdi mdi-briefcase"></i>
                            </div>
                            <h4>{{ i18n "facts.freelance-2021" }}</h4>
                            <p>{{ i18n "facts.freelance-2021-description" }}</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Facts Section -->

        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>{{ i18n "resume.title" }}</h2>
                    <p>{{ i18n "resume.header" }}</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="resume-title">{{ i18n "resume.summary.header" }}</h3>
                        <div class="resume-item pb-0">
                            <h4>William Desportes</h4>
                            <p><em>{{ i18n "resume.summary.content" }}</em></p>
                            <ul>
                                <li>{{ i18n "resume.summary.address" }}</li>
                                <li>
                                    <!--sse-->{{ i18n "resume.summary.email" }}
                                    <!--/sse-->
                                </li>
                            </ul>
                        </div>

                        <h3 class="resume-title">{{ i18n "resume.pro.title" }}</h3>
                        <div class="resume-item">
                            <h4><a href="https://www.needone.fr/" target="blank" rel="nofollow noopener">Needone</a>
                            </h4>
                            <h5>2018 - 2020</h5>
                            <p><em>{{ i18n "resume.pro.needone.job_title" }}</em></p>
                            <p>{{ i18n "resume.pro.needone.content" }}</p>
                        </div>
                        <div class="resume-item">
                            <h4><a href="https://www.phpmyadmin.net/" target="blank" rel="noopener">phpMyAdmin</a></h4>
                            <h5>2018 - &infin;</h5>
                            <p><em>{{ i18n "resume.pro.phpmyadmin.job_title" }}</em></p>
                            <p>{{ i18n "resume.pro.phpmyadmin.content" }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h3 class="resume-title">Open-Source & Coding Experience</h3>
                        <div class="resume-item">
                            <h4>Created my first PHP website</h4>
                            <h5>2012</h5>
                            <p><em>I copied and modified existing PHP/HTML code</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created my hostinger Account</h4>
                            <h5>05 11 2013 (but probably one year before)</h5>
                            <p><em>Starting to discover hosting services</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>First website for someone else</h4>
                            <h5>2014</h5>
                            <p><em>I started re-building a website that a teacher at my school had</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Joined GitHub</h4>
                            <h5>June 3, 2014</h5>
                            <p><em>Starting to discover Git</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>First VPS</h4>
                            <h5>2014</h5>
                            <p><em>An OVH VPS on CentOS for 1.99€/month</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created one of my first websites on Tumblr</h4>
                            <h5>19 Jan 2015</h5>
                            <p><em>I edited the HTML code in Tumblr, that where my first HTML steps</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Creating Minecraft launchers</h4>
                            <h5>June 2015</h5>
                            <p><em>My first steps in Java</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Playing Minecraft online on Egyptus</h4>
                            <h5>2015</h5>
                            <p><em>Discovering PHP and Java code by reading source code</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created my GPG key</h4>
                            <h5>12 05 2015</h5>
                            <p><em>Starting to sign my Git commits and tags with it</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created my first Git repositories</h4>
                            <h5>19 Jun 2015</h5>
                            <p><em>For my minecraft launchers</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Published my first Android app on the Google Play store</h4>
                            <h5>20 Nov 2016</h5>
                            <p><em>This was an app to read launch menus that I parsed out from PDFs</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created the Wdes GitHub org</h4>
                            <h5>12 Feb 2017</h5>
                            <p><em>To own the wdes namespace</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created my first GitHub pull-request</h4>
                            <h5>3 Nov 2017</h5>
                            <p><em>On the JS mysql2 lib</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Forked the phpMyAdmin project</h4>
                            <h5>26 Dec 2017</h5>
                            <p><em>I probably intended to start contributing</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>I created my first open-source repository/tool</h4>
                            <h5>6 Apr 2018</h5>
                            <p><em>To backup my MySQL database on my RaspberryPi</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>My first contributions to phpMyAdmin</h4>
                            <h5>May 2018</h5>
                            <p><em>Some bug fixes and enhancements</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Created mariadb-mysql-kbs</h4>
                            <h5>6 Jun 2018</h5>
                            <p><em>To extract some data from phpMyAdmin files and automate the updates</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>Joined the phpMyAdmin org !</h4>
                            <h5>5 Sep 2018</h5>
                            <p><em>I joined the phpMyAdmin org, quite a milestone !!</em></p>
                        </div>
                        <div class="resume-item">
                            <h4>[...]</h4>
                            <h5>&infin;</h5>
                            <p><em>More stories to tell. (I plan to move out this list on another page because it is quite long and have way too much items after 2018 to tell)</em></p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Resume Section -->

    </main><!-- End #main -->

    <footer id="footer">
        <div class="container">
            <h3>William Desportes</h3>
            <p>{{ i18n "footer.motd" }}</p>
            <div class="social-links">
                <!--sse-->
                <a href="{{ .Site.Params.links.github }}" target="_blank" rel="noopener" title="GitHub"><i
                        class="mdi mdi-github"></i></a>
                <a href="{{ .Site.Params.links.gitlab }}" target="_blank" rel="noopener" title="GitLab"><i
                        class="mdi mdi-gitlab"></i></a>
                <a href="{{ .Site.Params.links.twitter }}" target="_blank" rel="noopener" title="Twitter"><i
                        class="mdi mdi-twitter"></i></a>
                <a href="{{ .Site.Params.links.linkedin }}" target="_blank" rel="noopener" title="LinkedIn"><i
                        class="mdi mdi-linkedin"></i></a>
                <a href="{{ .Site.Params.links.stackOverflow }}" target="_blank" rel="noopener"
                    title="Stack Overflow"><i class="mdi mdi-stack-overflow"></i></a>
                <a href="{{ .Site.Params.links.mailto }}" target="_blank" rel="noopener" title="{{ i18n "social_links.mail" }}"><i
                        class="mdi mdi-email"></i></a>
                <a href="{{ .Site.Params.links.keybase }}" target="_blank" rel="noopener" title="Keybase"><i
                        class="mdi mdi-key-chain-variant"></i></a>
                <a href="{{ .Site.Params.links.blog }}" target="_blank" rel="noopener" title="{{ i18n "social_links.blog" }}"><i
                        class="mdi mdi-newspaper"></i></a>
                <a href="{{ .Site.BaseURL }}public-key.asc" target="_blank" rel="noopener" title="{{ i18n "social_links.gpg" }}"><i
                        class="mdi mdi-key-link"></i></a>
                <!--/sse-->
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>{{ .Site.Copyright }}</span></strong>
            </div>
            <div class="credits">
                {{ i18n "footer.designed_by" }}&nbsp;<a href="https://bootstrapmade.com/"
                target="_blank" rel="nofollow noopener">BootstrapMade</a>
            </div>
        </div>
    </footer>

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="mdi mdi-chevron-up"></i></a>

    <!-- Vendor JS Files -->
    {{ $aosLibJs := resources.Get "vendor/aos/js/aos.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $aosLibJs.Permalink }}" integrity="{{ $aosLibJs.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ $bootstrapLibJs := resources.Get "vendor/bootstrap/js/bootstrap.bundle.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $bootstrapLibJs.Permalink }}" integrity="{{ $bootstrapLibJs.Data.Integrity }}" crossorigin="anonymous"></script>
    {{ $typedLibJs := resources.Get "vendor/typed.js/typed.min.js"
        | fingerprint "sha512"
    }}
    <script src="{{ $typedLibJs.Permalink }}" integrity="{{ $typedLibJs.Data.Integrity }}" crossorigin="anonymous"></script>

    <!-- Template Main JS File -->
    {{ $options := (dict "targetPath" "assets/js/main.js" "enableSourceMap" true) }}
    {{ $mainJs := resources.Get "js/main.js"
        | js.Build $options
        | minify
        | fingerprint "sha512"
    }}
    <script src="{{ $mainJs.Permalink }}" integrity="{{ $mainJs.Data.Integrity }}" crossorigin="anonymous"></script>

</body>

</html>
